@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  font-family: "Inter", sans-serif;
}

pre * {
  font-family: "Roboto Mono" !important;
  font-size: 14px !important;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
