@import "tailwindcss/components";
@import "./inputs/button.css";
@import "./inputs/input.css";
@import "./inputs/textarea.css";
@import "./inputs/select.css";
@import "./inputs/checkbox.css";
@import "./inputs/radio.css";
@import "./inputs/switch.css";
@import "./inputs/button-group.css";
@import "./inputs/dropdown.css";
@import "./inputs/range.css";
@import "./inputs/input-file.css";
@import "./informational/modal.css";
@import "./informational/badge.css";
@import "./informational/tooltip.css";
@import "./informational/avatar.css";
@import "./informational/alert.css";
@import "./informational/table.css";
@import "./informational/card.css";
@import "./informational/accordion.css";
@import "./informational/tabs.css";
@import "./informational/divider.css";
@import "./informational/pagination.css";
@import "./informational/skeleton.css";
@import "./informational/stepper.css";
@import "./informational/kbd.css";
@import "./informational/progress.css";
@import "./informational/dot.css";
@import "./informational/form-control.css";
@import "./informational/menu.css";
@import "./informational/popover.css";
@import "./informational/sidebar.css";
@import "./informational/spinner.css";
@import "./navigation/navbar.css";
@import "./navigation/breadcrumb.css";
@import "./navigation/drawer.css";
@import "./navigation/link.css";
