.drawer-toggle {
  @apply absolute h-0 w-0 appearance-none opacity-0;
}

html:has(.drawer-toggle:checked) {
  @apply overflow-hidden;
}

.drawer {
  @apply fixed top-0 left-0 z-[9999] h-screen w-full max-w-xs -translate-x-full overflow-auto bg-backgroundPrimary transition-transform duration-150 ease-out;
}

.drawer-right {
  @apply right-0 left-auto translate-x-full;
}

.drawer-top {
  transform: translateY(-100%);
  @apply top-0 bottom-0 h-fit max-h-screen w-full max-w-full;
}

.drawer-bottom {
  transform: translateY(100%);
  @apply top-auto bottom-0 h-fit max-h-screen w-full max-w-full;
}

.drawer-content {
  @apply p-4;
}

.drawer-toggle:checked ~ .drawer {
  transform: translateX(0);
}

.overlay {
  transition: visibility 0.15s ease-out, opacity 0.15s ease-out;
  @apply invisible fixed top-0 left-0 z-[9998] h-screen w-full bg-black bg-opacity-60 opacity-0;
}

.drawer-toggle:checked ~ .overlay {
  @apply visible opacity-100;
}
