.navbar {
  @apply flex w-full items-center  bg-gray-100 px-2 py-2.5 shadow-xl sm:px-4;
}
.navbar-bordered {
  @apply border-b border-gray-500;
}

.navbar-sticky {
  @apply fixed top-0 left-0 right-0 z-50;
}

.navbar-floating {
  @apply fixed top-0 left-0 right-0 z-50 mx-auto mt-5 max-w-7xl rounded-xl;
}

.navbar-floating.navbar-bordered {
  @apply border;
}

.navbar-glass {
  @apply bg-gray-100/70 backdrop-blur-[8px] backdrop-saturate-[50%];
}

.navbar-rounded {
  @apply rounded-b-xl;
}

.navbar-no-boxShadow {
  @apply shadow-none;
}

.navbar-start {
  @apply flex w-full items-center justify-start  gap-1;
}

.navbar-center {
  @apply flex w-full items-center  justify-center gap-1;
}

.navbar-end {
  @apply flex w-full items-center justify-end gap-1;
}

.navbar-brand {
  @apply flex items-center gap-1 whitespace-nowrap;
}

.navbar-item {
  @apply cursor-pointer rounded-lg py-2 px-3 text-content1 transition-colors;
}

.navbar-item:not(.navbar-active):hover {
  @apply text-content2;
}

.navbar-active {
  @apply text-primary;
}

.navbar:not(:has(.navbar-end)) .navbar-center {
  @apply items-start justify-start;
}

.navbar:not(:has(.navbar-start)) .navbar-center {
  @apply items-center justify-center;
}

.navbar:not(:has(.navbar-start)) .navbar-center {
  @apply items-end justify-end;
}

.navbar:not(:has(.navbar-start, .navbar-end)) .navbar-center {
  @apply items-center justify-center;
}
