.menu {
  @apply flex w-full flex-col gap-2;
}

.menu-section {
  @apply flex flex-col gap-2;
}

.menu-title {
  @apply text-xs font-normal;
}

.menu-items {
  @apply flex flex-col gap-1.5;
}

.menu-item {
  transition-property: transform, opacity, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @apply flex cursor-pointer select-none flex-row items-center gap-2 rounded-lg px-4 py-2 text-sm text-content1 duration-150 will-change-transform hover:bg-gray-4 active:scale-[0.97] active:bg-gray-5;
}

.menu-item-disabled {
  @apply pointer-events-none cursor-not-allowed text-content3 active:scale-[1];
}

.menu-item-no-animation {
  @apply transition-none active:scale-[1];
}

.menu-item.menu-active {
  @apply bg-gray-5  transition-none active:scale-[1];
}

.menu-toggle {
  @apply hidden;
}

.menu-item-collapse {
  transition: padding 0.15s, grid-template-rows 0.15s;
  @apply grid grid-rows-[0fr] overflow-hidden;
}

.menu-toggle:checked ~ .menu-item-collapse {
  @apply grid-rows-[1fr] border-none;
}

.menu-item:focus-within ~ .menu-item-collapse {
  @apply grid-rows-[1fr] border-none;
}

.menu-icon {
  @apply transition-transform duration-300;
}

.menu-toggle:checked ~ .menu-item .menu-icon {
  @apply rotate-90;
}
