.popover {
  @apply relative inline-block w-max text-left;
}

.popover-trigger {
  @apply inline-flex;
}

.popover-content {
  transition-property: transform, opacity, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @apply invisible absolute left-1/2 right-full  z-[49] flex w-56  origin-top -translate-y-2 -translate-x-1/2 scale-95   transform flex-col rounded-xl border  border-transparent  bg-gray-3 p-2   opacity-0 shadow-lg outline-none duration-150 will-change-transform;
}

.popover-bottom-center {
  @apply invisible left-1/2 right-full top-full     origin-top -translate-y-2  -translate-x-1/2;
}

.popover-bottom-right {
  @apply invisible left-0   origin-top-left  -translate-y-2 translate-x-0;
}

.popover-bottom-left {
  @apply invisible right-0 left-auto    origin-top-right -translate-y-2 translate-x-0;
}
.popover-top-center {
  @apply invisible left-1/2 right-full bottom-full   origin-bottom translate-y-2 -translate-x-1/2;
}

.popover-top-right {
  @apply invisible left-1/2 bottom-full ml-[-50%]   origin-bottom-left translate-y-2 translate-x-0;
}

.popover-top-left {
  @apply invisible left-1/2 bottom-full right-0 ml-auto  origin-bottom-right translate-y-2 translate-x-0;
}

.popover-left {
  @apply invisible bottom-auto top-1/2 right-full left-auto    origin-right -translate-y-1/2 translate-x-2;
}

.popover-right {
  @apply invisible bottom-auto top-1/2 left-full   origin-left -translate-y-1/2 -translate-x-2;
}

.popover-left-bottom {
  @apply invisible right-full  left-auto mt-0   origin-top-right -translate-y-10  translate-x-2;
}

.popover-right-bottom {
  @apply invisible left-full   origin-top-left -translate-y-10 -translate-x-2;
}

.popover-left-top {
  @apply invisible right-full left-auto bottom-0   origin-bottom-right translate-y-5 translate-x-2;
}

.popover-right-top {
  @apply invisible left-full  bottom-0    origin-bottom-left translate-y-5 -translate-x-2;
}

.popover-open .popover-content,
.popover-open .popover-bottom-center,
.popover .popover-trigger:focus ~ .popover-content,
.popover-open .popover-bottom-center,
.popover-hover:hover .popover-trigger ~ .popover-content,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-bottom-center,
.popover-trigger:focus ~ .popover-content.popover-bottom-center,
.popover:not(.popover-hover)
  .popover-content:where(:focus, :focus-within, :focus-visible),
.popover:not(.popover-hover)
  .popover-bottom-center:where(:focus, :focus-within, :focus-visible) {
  @apply visible  -translate-x-1/2   translate-y-0 scale-100 opacity-100;
}

.popover-open .popover-top-center,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-top-center,
.popover-trigger:focus ~ .popover-content.popover-top-center,
.popover:not(.popover-hover)
  .popover-top-center:where(:focus, :focus-within, :focus-visible) {
  @apply visible  -translate-x-1/2 translate-y-0  scale-100  opacity-100;
}

.popover-open .popover-bottom-right,
.popover-trigger:focus ~ .popover-content.popover-bottom-right,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-bottom-right,
.popover:not(.popover-hover)
  .popover-bottom-right:where(:focus, :focus-within, :focus-visible) {
  @apply visible translate-x-0 translate-y-0 scale-100 opacity-100;
}
.popover-open .popover-bottom-left,
.popover-trigger:focus ~ .popover-content.popover-bottom-left,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-bottom-left,
.popover:not(.popover-hover)
  .popover-bottom-left:where(:focus, :focus-within, :focus-visible) {
  @apply visible translate-x-0 translate-y-0 scale-100 opacity-100;
}

.popover-open .popover-left,
.popover-trigger:focus ~ .popover-content.popover-left,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-left,
.popover:not(.popover-hover)
  .popover-left:where(:focus, :focus-within, :focus-visible) {
  @apply visible left-auto bottom-auto top-1/2 translate-x-0 -translate-y-1/2  scale-100 opacity-100;
}
.popover-open .popover-right,
.popover-trigger:focus ~ .popover-content.popover-right,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-right,
.popover:not(.popover-hover)
  .popover-right:where(:focus, :focus-within, :focus-visible) {
  @apply visible right-auto bottom-auto top-1/2 translate-x-0 -translate-y-1/2   scale-100 opacity-100;
}
.popover-open .popover-left-bottom,
.popover-open .popover-right-bottom,
.popover-trigger:focus ~ .popover-content.popover-left-bottom,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-left-bottom,
.popover:not(.popover-hover)
  .popover-left-bottom:where(:focus, :focus-within, :focus-visible),
.popover-trigger:focus ~ .popover-content.popover-right-bottom,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-right-bottom,
.popover:not(.popover-hover)
  .popover-right-bottom:where(:focus, :focus-within, :focus-visible) {
  @apply visible translate-x-0 -translate-y-10 scale-100 opacity-100;
}

.popover-open .popover-left-top,
.popover-open .popover-right-top,
.popover-trigger:focus ~ .popover-content.popover-left-top,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-left-top,
.popover:not(.popover-hover)
  .popover-left-top:where(:focus, :focus-within, :focus-visible),
.popover-trigger:focus ~ .popover-content.popover-right-top,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-right-top,
.popover:not(.popover-hover)
  .popover-right-top:where(:focus, :focus-within, :focus-visible) {
  @apply visible translate-x-0 translate-y-5 scale-100 opacity-100;
}
.popover-open .popover-top-right,
.popover-open .popover-top-left,
.popover-trigger:focus ~ .popover-content.popover-top-right,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-top-right,
.popover:not(.popover-hover)
  .popover-top-right:where(:focus, :focus-within, :focus-visible),
.popover-trigger:focus ~ .popover-content.popover-top-left,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-top-left,
.popover:not(.popover-hover)
  .popover-top-left:where(:focus, :focus-within, :focus-visible) {
  @apply visible translate-x-0 translate-y-0 scale-100 opacity-100;
}
.popover-arrow {
  @apply absolute h-[0.7rem] w-[0.7rem] border-transparent bg-gray-3;
}
.popover-border .popover-content .popover-arrow,
.popover-border .popover-content {
  @apply border-border;
}
.popover-content:not(
    .popover-bottom-center,
    .popover-top-center,
    .popover-bottom-right,
    .popover-bottom-left,
    .popover-left,
    .popover-right,
    .popover-left-bottom,
    .popover-right-bottom,
    .popover-left-top,
    .popover-right-top,
    .popover-top-right,
    .popover-top-left
  )
  .popover-arrow {
  transform: translate(-50%, -50%) rotate(45deg);
  @apply left-1/2 top-0 border-l border-t;
}

.popover-bottom-center .popover-arrow {
  transform: translate(-50%, -50%) rotate(45deg);
  @apply left-1/2 top-0 border-l border-t;
}

.popover-top-center .popover-arrow {
  transform: translate(-50%, -50%) rotate(45deg);
  @apply -bottom-3 left-1/2 border-r border-b;
}

.popover-bottom-right .popover-arrow {
  transform: translate(50%, -50%) rotate(45deg);
  @apply top-0 left-4 border-l border-t;
}

.popover-bottom-left .popover-arrow {
  transform: translate(-50%, -50%) rotate(45deg);
  @apply top-0 right-4 border-l border-t;
}

.popover-left .popover-arrow {
  transform: translate(50%, -50%) rotate(45deg);
  @apply right-0 top-1/2 border-r border-t;
}

.popover-right .popover-arrow {
  transform: translate(-50%, -50%) rotate(45deg);
  @apply left-0 top-1/2 border-l border-b;
}

.popover-left-bottom .popover-arrow {
  transform: translate(50%, 50%) rotate(45deg);
  @apply top-4 right-0 border-r border-t;
}
.popover-right-bottom .popover-arrow {
  transform: translate(-50%, 50%) rotate(45deg);
  @apply left-0 top-4 border-l border-b;
}

.popover-left-top .popover-arrow {
  transform: translate(50%, -50%) rotate(45deg);
  @apply bottom-4 right-0 border-r border-t;
}

.popover-right-top .popover-arrow {
  transform: translate(-50%, -50%) rotate(45deg);
  @apply left-0 bottom-4 border-l border-b;
}

.popover-top-right .popover-arrow {
  transform: translate(50%, -50%) rotate(45deg);
  @apply -bottom-3 left-4 border-r border-b;
}

.popover-top-left .popover-arrow {
  transform: translate(-50%, -50%) rotate(45deg);
  @apply -bottom-3 right-4 border-r border-b;
}
