@keyframes indeterminate-progress-bar {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.progress {
  @apply bg-gray-5 relative h-4 w-40 appearance-none overflow-hidden rounded-full;
}

.progress::-webkit-progress-bar {
  @apply bg-gray-5 rounded-full;
}

.progress::-moz-progress-bar {
  @apply rounded-full bg-primary;
}

.progress::-webkit-progress-value {
  @apply rounded-full bg-primary;
}

.progress-xs {
  @apply h-1;
}

.progress-sm {
  @apply h-2;
}

.progress-md {
  @apply h-4;
}

.progress-lg {
  @apply h-5;
}

.progress-xl {
  @apply h-7;
}

.progress:indeterminate::after,
.progress-indeterminate::after {
  animation: indeterminate-progress-bar 0.9s infinite;
  @apply absolute bottom-0  top-0 w-1/3 rounded-full bg-primary content-[""];
}

.progress-primary::-webkit-progress-value,
.progress-flat-primary::-webkit-progress-value,
.progress-primary.progress:indeterminate::after,
.progress-flat-primary.progress:indeterminate::after,
.progress-primary.progress-indeterminate::after,
.progress-flat-primary.progress-indeterminate::after {
  @apply bg-primary;
}

.progress-secondary::-webkit-progress-value,
.progress-flat-secondary::-webkit-progress-value,
.progress-secondary.progress:indeterminate::after,
.progress-flat-secondary.progress:indeterminate::after,
.progress-secondary.progress-indeterminate::after,
.progress-flat-secondary.progress-indeterminate::after {
  @apply bg-secondary;
}

.progress-success::-webkit-progress-value,
.progress-flat-success::-webkit-progress-value,
.progress-success.progress:indeterminate::after,
.progress-flat-success.progress:indeterminate::after,
.progress-success.progress-indeterminate::after,
.progress-flat-success.progress-indeterminate::after {
  @apply bg-success;
}

.progress-error::-webkit-progress-value,
.progress-flat-error::-webkit-progress-value,
.progress-error.progress:indeterminate::after,
.progress-flat-error.progress:indeterminate::after,
.progress-error.progress-indeterminate::after,
.progress-flat-error.progress-indeterminate::after {
  @apply bg-error;
}

.progress-warning::-webkit-progress-value,
.progress-flat-warning::-webkit-progress-value,
.progress-warning.progress:indeterminate::after,
.progress-flat-warning.progress:indeterminate::after,
.progress-warning.progress-indeterminate::after,
.progress-flat-warning.progress-indeterminate::after {
  @apply bg-warning;
}

.progress-flat-primary::-webkit-progress-bar,
.progress-flat-primary.progress-indeterminate {
  @apply bg-blue-5;
}

.progress-flat-secondary::-webkit-progress-bar,
.progress-flat-secondary.progress-indeterminate {
  @apply bg-purple-5;
}

.progress-flat-success::-webkit-progress-bar,
.progress-flat-success.progress-indeterminate {
  @apply bg-green-5;
}

.progress-flat-error::-webkit-progress-bar,
.progress-flat-error.progress-indeterminate {
  @apply bg-red-5;
}

.progress-flat-warning::-webkit-progress-bar,
.progress-flat-warning.progress-indeterminate {
  @apply bg-yellow-5;
}

/* Firefox Target */
@supports (-moz-appearance: none) {
  .progress-flat-primary {
    @apply bg-blue-5;
  }

  .progress-flat-secondary {
    @apply bg-purple-5;
  }

  .progress-flat-success {
    @apply bg-green-5;
  }

  .progress-flat-error {
    @apply bg-red-5;
  }

  .progress-flat-warning {
    @apply bg-yellow-5;
  }

  .progress-primary::-moz-progress-bar,
  .progress-flat-primary::-moz-progress-bar {
    @apply bg-primary;
  }

  .progress-secondary::-moz-progress-bar,
  .progress-flat-secondary::-moz-progress-bar {
    @apply bg-secondary;
  }

  .progress-success::-moz-progress-bar,
  .progress-flat-success::-moz-progress-bar {
    @apply bg-success;
  }

  .progress-error::-moz-progress-bar,
  .progress-flat-error::-moz-progress-bar {
    @apply bg-error;
  }

  .progress-warning::-moz-progress-bar,
  .progress-flat-warning::-moz-progress-bar {
    @apply bg-warning;
  }

  .progress:indeterminate::-moz-progress-bar {
    @apply bg-transparent;
  }
}
