.tooltip,
.tooltip-hover,
.tooltip-click {
  --tooltip-bg: rgb(var(--black));
  --tooltip-border: rgb(var(--black));
  @apply relative;
}

.tooltip-hover::before,
.tooltip-hover::after,
.tooltip-click::before,
.tooltip-click::after,
.tooltip::before,
.tooltip::after {
  transition: opacity 0.3s ease-in-out;
  @apply invisible absolute opacity-0;
}

.tooltip-hover:hover::before,
.tooltip-hover:hover::after,
.tooltip-click:focus-within::before,
.tooltip-click:focus-within::after,
.tooltip:hover::before,
.tooltip:hover::after {
  @apply visible opacity-100;
}

.tooltip-hover::before,
.tooltip-click::before,
.tooltip::before {
  @apply z-[2] w-max rounded-md bg-[var(--tooltip-bg)] px-4 py-1.5 text-xs  text-white content-[attr(data-tooltip)];
}

.tooltip-hover::after,
.tooltip-click::after,
.tooltip::after {
  @apply h-0 w-0 content-[""];
}

/* Top */

.tooltip::before,
.tooltip::after {
  transform: translate(-50%);
  @apply bottom-[85%] left-[50%] top-[initial] right-[initial]  mx-0 mb-3 mt-0;
}

.tooltip::after {
  @apply mx-0 mb-2 mt-0  border-l-4 border-r-4 border-t-[5px] border-b-0 border-l-transparent border-r-transparent border-t-[var(--tooltip-border)];
}

.tooltip-top::before,
.tooltip-top::after {
  transform: translate(-50%);
  @apply bottom-[85%] left-[50%] top-[initial] right-[initial]  mx-0 mb-3 mt-0;
}

.tooltip-top::after {
  @apply mx-0 mb-2 mt-0 border-l-4 border-r-4 border-t-[5px] border-b-0 border-l-transparent border-r-transparent border-t-[var(--tooltip-border)];
}

/* Bottom */
.tooltip-bottom::before,
.tooltip-bottom::after {
  transform: translate(-50%);
  @apply top-[85%] left-[50%] bottom-[initial] right-[initial]  m-[12px_0_0_0];
}

.tooltip-bottom::after {
  @apply mt-2 border-l-4 border-r-4 border-b-[5px] border-t-0 border-l-transparent border-r-transparent border-b-[var(--tooltip-border)];
}

/* Right */
.tooltip-right::before,
.tooltip-right::after {
  transform: translate(0, -50%);
  @apply top-[50%] left-[95%] bottom-[initial] right-[initial]  m-[0_0_0_12px];
}

.tooltip-right::after {
  @apply ml-2 border-t-4 border-r-[5px] border-b-4 border-l-0  border-t-transparent border-r-[var(--tooltip-border)] border-b-transparent;
}

/* Left */
.tooltip-left::before,
.tooltip-left::after {
  transform: translate(0, -50%);
  @apply top-[50%] right-[95%]  bottom-[initial] left-[initial]  m-[0_12px_0_0];
}

.tooltip-left::after {
  @apply mr-2 border-t-4 border-l-[5px] border-b-4 border-r-0 border-t-transparent border-l-[var(--tooltip-border)] border-b-transparent;
}

/*  */

.tooltip-primary {
  --tooltip-bg: rgb(var(--primary));
  --tooltip-border: rgb(var(--primary));
}

.tooltip-secondary {
  --tooltip-bg: rgb(var(--secondary));
  --tooltip-border: rgb(var(--secondary));
}

.tooltip-success {
  --tooltip-bg: rgb(var(--success));
  --tooltip-border: rgb(var(--success));
}

.tooltip-warning {
  --tooltip-bg: rgb(var(--warning));
  --tooltip-border: rgb(var(--warning));
}

.tooltip-error {
  --tooltip-bg: rgb(var(--error));
  --tooltip-border: rgb(var(--error));
}

.tooltip::before.tooltip-open,
.tooltip-hover::before.tooltip-open,
.tooltip-click::before.tooltip-open {
  @apply visible opacity-100;
}

.tooltip::after.tooltip-open,
.tooltip-hover::after.tooltip-open,
.tooltip-click::after.tooltip-open {
  @apply visible opacity-100;
}
