.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  --radio-bg: rgb(var(--gray-1));
  --radio-border: rgb(var(--gray-6));
  --radio-bg-checked: rgb(var(--primary));
  --radio-border-checked: rgb(var(--primary));
  --radio-border-hover: rgb(var(--gray-7));
  --radio-bg-hover: rgb(var(--gray-3));
  --checkline-color: rgb(var(--white));
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  @apply relative m-0 flex h-5 w-5 cursor-pointer appearance-none items-center justify-center rounded-full border border-[var(--radio-border)] bg-[var(--radio-bg)] align-top accent-backgroundPrimary  focus:outline-2 focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-primary;
}
.radio:checked {
  @apply border-[var(--radio-border-checked)] bg-[var(--radio-bg-checked)];
  --d-o: 0.3s;
  --d-t: 0.6s;
  --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  --o: 1;
  --r: 43deg;
}
.radio:disabled {
  @apply cursor-not-allowed border-gray-7 bg-gray-7 opacity-50;
}

.radio:disabled + label {
  @apply cursor-not-allowed;
}

.radio:hover:not(:checked):not(:disabled) {
  @apply border-[var(--radio-border-hover)] bg-[var(--radio-bg-hover)];
}

.radio:not(.switch):after {
  opacity: var(--o, 0);
}
.radio:checked {
  --o: 1;
  --s: 0.5;
}

.radio::after {
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @apply relative flex h-full w-5 rounded-full bg-[var(--checkline-color)] opacity-0  duration-150  content-[""];
  transform: scale(var(--s, 0.7));
}

.radio-primary {
  --radio-bg-checked: rgb(var(--primary));
  --radio-border-checked: rgb(var(--primary));
  @apply focus-visible:outline-primary;
}

.radio-secondary {
  --radio-bg-checked: rgb(var(--secondary));
  --radio-border-checked: rgb(var(--secondary));
  @apply focus-visible:outline-secondary;
}

.radio-success {
  --radio-bg-checked: rgb(var(--success));
  --radio-border-checked: rgb(var(--success));
  @apply focus-visible:outline-success;
}

.radio-error {
  --radio-bg-checked: rgb(var(--error));
  --radio-border-checked: rgb(var(--error));
  @apply focus-visible:outline-error;
}

.radio-warning {
  --radio-bg-checked: rgb(var(--warning));
  --radio-border-checked: rgb(var(--warning));
  @apply focus-visible:outline-warning;
}

/* bordered */
.radio-bordered-primary {
  --radio-border: rgb(var(--primary));
  --radio-bg-checked: rgb(var(--primary));
  --radio-border-checked: rgb(var(--primary));
  --radio-border-hover: rgb(var(--primary));
  @apply focus-visible:outline-primary;
}

.radio-bordered-secondary {
  --radio-border: rgb(var(--secondary));
  --radio-bg-checked: rgb(var(--secondary));
  --radio-border-checked: rgb(var(--secondary));
  --radio-border-hover: rgb(var(--secondary));
  @apply focus-visible:outline-secondary;
}

.radio-bordered-success {
  --radio-border: rgb(var(--success));
  --radio-bg-checked: rgb(var(--success));
  --radio-border-checked: rgb(var(--success));
  --radio-border-hover: rgb(var(--success));
  @apply focus-visible:outline-success;
}

.radio-bordered-error {
  --radio-border: rgb(var(--error));
  --radio-bg-checked: rgb(var(--error));
  --radio-border-checked: rgb(var(--error));
  --radio-border-hover: rgb(var(--error));
  @apply focus-visible:outline-error;
}

.radio-bordered-warning {
  --radio-border: rgb(var(--warning));
  --radio-bg-checked: rgb(var(--warning));
  --radio-border-checked: rgb(var(--warning));
  --radio-border-hover: rgb(var(--warning));
  @apply focus-visible:outline-warning;
}

/* Ghost */

.radio-ghost-primary {
  --radio-bg-checked: rgb(var(--primary));
  --radio-border-checked: rgb(var(--primary));
  --radio-border-hover: rgb(var(--primary));
  @apply focus-visible:outline-primary;
}

.radio-ghost-secondary {
  --radio-bg-checked: rgb(var(--secondary));
  --radio-border-checked: rgb(var(--secondary));
  --radio-border-hover: rgb(var(--secondary));
  @apply focus-visible:outline-secondary;
}

.radio-ghost-success {
  --radio-bg-checked: rgb(var(--success));
  --radio-border-checked: rgb(var(--success));
  --radio-border-hover: rgb(var(--success));
  @apply focus-visible:outline-success;
}

.radio-ghost-error {
  --radio-bg-checked: rgb(var(--error));
  --radio-border-checked: rgb(var(--error));
  --radio-border-hover: rgb(var(--error));
  @apply focus-visible:outline-error;
}

.radio-ghost-warning {
  --radio-bg-checked: rgb(var(--warning));
  --radio-border-checked: rgb(var(--warning));
  --radio-border-hover: rgb(var(--warning));
  @apply focus-visible:outline-warning;
}
/* Sizes */

.radio-xs {
  @apply h-3 w-3;
}

.radio.radio-xs::after {
  @apply h-[10px] w-[10px];
}

.radio-sm {
  @apply h-4 w-4;
}

.radio.radio-sm::after {
  @apply h-[14px] w-[14px];
}

.radio-md {
  @apply h-5 w-5;
}

.radio.radio-md::after {
  @apply w-5;
}

.radio-lg {
  @apply h-6 w-6;
}

.radio.radio-lg::after {
  @apply h-[22px] w-[22px];
}

.radio-xl {
  @apply h-7 w-7;
}

.radio.radio-xl::after {
  @apply h-[26px] w-[26px];
}

.radio-solid {
  --radio-border-hover: transparent;
  --radio-bg-hover: rgb(var(--gray-6));
  @apply border-transparent bg-gray-5;
}

.radio-solid-primary {
  --radio-border-hover: transparent;
  --radio-bg-hover: rgb(var(--blue-6));
  --radio-bg-checked: rgb(var(--primary));
  --radio-border-checked: rgb(var(--primary));
  @apply border-transparent bg-blue-5;
}

.radio-solid-secondary {
  --radio-border-hover: transparent;
  --radio-bg-hover: rgb(var(--purple-6));
  --radio-bg-checked: rgb(var(--secondary));
  --radio-border-checked: rgb(var(--secondary));
  @apply border-transparent bg-purple-5;
}

.radio-solid-success {
  --radio-border-hover: transparent;
  --radio-bg-hover: rgb(var(--green-6));
  --radio-bg-checked: rgb(var(--success));
  --radio-border-checked: rgb(var(--success));
  @apply border-transparent bg-green-5;
}

.radio-solid-warning {
  --radio-border-hover: transparent;
  --radio-bg-hover: rgb(var(--yellow-6));
  --radio-bg-checked: rgb(var(--warning));
  --radio-border-checked: rgb(var(--warning));
  @apply border-transparent bg-yellow-5;
}

.radio-solid-error {
  --radio-border-hover: transparent;
  --radio-bg-hover: rgb(var(--red-6));
  --radio-bg-checked: rgb(var(--error));
  --radio-border-checked: rgb(var(--error));
  @apply border-transparent bg-red-5;
}
