.switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  --switch-bg: rgb(var(--gray-6));
  --switch-border: rgb(var(--gray-6));
  --switch-bg-checked: rgb(var(--primary));
  --switch-border-checked: rgb(var(--primary));
  --switch-border-hover: rgb(var(--gray-6));
  --switch-bg-hover: rgb(var(--gray-6));
  --checkline-color: rgb(255 255 255);
  --circle-color: rgb(var(--gray-1));
  transition: background 0.15s, border-color 0.15s, box-shadow 0.15s;
  @apply relative m-0 inline-block  h-[21px] w-[38px] cursor-pointer appearance-none   rounded-xl   border border-[var(--switch-border)]  bg-[var(--switch-bg)] align-top outline-none focus:outline-2 focus-visible:outline   focus-visible:outline-offset-2  focus-visible:outline-primary;
}

.switch::after {
  transition: transform var(--d-t, 0.15s) var(--d-t-e, ease),
    opacity var(--d-o, 0.15s);
  @apply absolute left-0 top-0 block content-[""];
}

.switch:checked {
  --circle-color: rgb(255 255 255);
  @apply border-[var(--switch-border-checked)] bg-[var(--switch-bg-checked)];
  --o: 1;
  --r: 43deg;
}

.switch:disabled {
  @apply cursor-not-allowed border-gray-7 bg-gray-7 opacity-50;
}

.switch:disabled:checked {
  --circle-color: rgb(255 255 255);
}

.switch:disabled + label {
  @apply cursor-not-allowed;
}

.switch:hover:not(:checked):not(:disabled) {
  @apply border-[var(--switch-border-hover)] bg-[var(--switch-bg-hover)];
}

/* CheckLine */
.switch::after {
  transform: translateX(var(--x, 0));
  @apply left-[2px] top-[2px] h-[15px] w-[15px] rounded-full bg-[var(--circle-color)];
}

.switch:checked {
  --x: 17px;
}

.switch:disabled:not(:checked):after {
  opacity: 0.6;
}

/* Base */

.switch-primary {
  --switch-bg-checked: rgb(var(--primary));
  --switch-border-checked: rgb(var(--primary));
  @apply focus-visible:outline-primary;
}

.switch-secondary {
  --switch-bg-checked: rgb(var(--secondary));
  --switch-border-checked: rgb(var(--secondary));
  @apply focus-visible:outline-secondary;
}

.switch-success {
  --switch-bg-checked: rgb(var(--success));
  --switch-border-checked: rgb(var(--success));
  @apply focus-visible:outline-success;
}

.switch-error {
  --switch-bg-checked: rgb(var(--error));
  --switch-border-checked: rgb(var(--error));
  @apply focus-visible:outline-error;
}

.switch-warning {
  --switch-bg-checked: rgb(var(--warning));
  --switch-border-checked: rgb(var(--warning));
  @apply focus-visible:outline-warning;
}

.switch-info {
  --switch-bg-checked: rgb(var(--info));
  --switch-border-checked: rgb(var(--info));
  @apply focus-visible:outline-info;
}

/* bordered */

.switch-bordered-primary {
  --switch-bg-checked: rgb(var(--primary));
  --switch-border-checked: rgb(var(--primary));
  --switch-border: rgb(var(--primary));
  --switch-border-hover: rgb(var(--primary));
  @apply focus-visible:outline-primary;
  /* --switch-bg-hover: var(--backgroundPrimary); */
}

.switch-bordered-secondary {
  --switch-bg-checked: rgb(var(--secondary));
  --switch-border-checked: rgb(var(--secondary));
  --switch-border: rgb(var(--secondary));
  --switch-border-hover: rgb(var(--secondary));
  @apply focus-visible:outline-secondary;
}

.switch-bordered-success {
  --switch-bg-checked: rgb(var(--success));
  --switch-border-checked: rgb(var(--success));
  --switch-border: rgb(var(--success));
  --switch-border-hover: rgb(var(--success));
  @apply focus-visible:outline-success;
}

.switch-bordered-error {
  --switch-bg-checked: rgb(var(--error));
  --switch-border-checked: rgb(var(--error));
  --switch-border: rgb(var(--error));
  --switch-border-hover: rgb(var(--error));
  @apply focus-visible:outline-error;
}

.switch-bordered-warning {
  --switch-bg-checked: rgb(var(--warning));
  --switch-border-checked: rgb(var(--warning));
  --switch-border: rgb(var(--warning));
  --switch-border-hover: rgb(var(--warning));
  @apply focus-visible:outline-warning;
}

.switch-bordered-info {
  --switch-bg-checked: rgb(var(--info));
  --switch-border-checked: rgb(var(--info));
  --switch-border: rgb(var(--info));
  --switch-border-hover: rgb(var(--info));
  @apply focus-visible:outline-info;
}

/* Ghost */

.switch-ghost-primary {
  --switch-bg: rgb(var(--gray-1));
  --circle-color: rgb(var(--gray-6));
  --switch-bg-hover: rgb(var(--gray-1));
  --switch-border-hover: rgb(var(--primary));
  --switch-bg-checked: rgb(var(--primary));
  @apply focus-visible:outline-primary;
}

.switch-ghost-secondary {
  --switch-bg: rgb(var(--gray-1));
  --circle-color: rgb(var(--gray-6));
  --switch-bg-hover: rgb(var(--gray-1));
  --switch-border-hover: rgb(var(--secondary));
  --switch-border-checked: rgb(var(--secondary));
  --switch-bg-checked: rgb(var(--secondary));
  @apply focus-visible:outline-secondary;
}

.switch-ghost-success {
  --switch-bg: rgb(var(--gray-1));
  --circle-color: rgb(var(--gray-6));
  --switch-bg-hover: rgb(var(--gray-1));
  --switch-border-hover: rgb(var(--success));
  --switch-border-checked: rgb(var(--success));
  --switch-bg-checked: rgb(var(--success));
  @apply focus-visible:outline-success;
}

.switch-ghost-error {
  --switch-bg: rgb(var(--gray-1));
  --circle-color: rgb(var(--gray-6));
  --switch-bg-hover: rgb(var(--gray-1));
  --switch-border-hover: rgb(var(--error));
  --switch-border-checked: rgb(var(--error));
  --switch-bg-checked: rgb(var(--error));
  @apply focus-visible:outline-error;
}

.switch-ghost-warning {
  --switch-bg: rgb(var(--gray-1));
  --circle-color: rgb(var(--gray-6));
  --switch-bg-hover: rgb(var(--gray-1));
  --switch-border-hover: rgb(var(--warning));
  --switch-border-checked: rgb(var(--warning));
  --switch-bg-checked: rgb(var(--warning));
  @apply focus-visible:outline-warning;
}

.switch-ghost-info {
  --switch-bg: rgb(var(--gray-1));
  --circle-color: rgb(var(--gray-6));
  --switch-bg-hover: rgb(var(--gray-1));
  --switch-border-hover: rgb(var(--info));
  --switch-border-checked: rgb(var(--info));
  --switch-bg-checked: rgb(var(--info));
  @apply focus-visible:outline-info;
}

/* Sizes */

.switch-xs {
  @apply h-4 w-6;
}

.switch.switch-xs:checked {
  --x: 8px;
}
.switch.switch-xs::after {
  @apply left-[1.4px] top-[1px] h-[12px] w-[12px];
}

.switch-sm {
  @apply h-5 w-8;
}

.switch.switch-sm:checked {
  --x: 14px;
}

.switch.switch-sm::after {
  @apply left-[1.7px] top-[2px] h-[13px] w-[13px];
}

.switch-md {
  @apply h-[21px] w-[38px];
}

.switch.switch-md::after {
  @apply left-[2px] top-[2px] h-[15px] w-[15px];
}

.switch-lg {
  @apply h-7 w-12 rounded-full;
}

.switch.switch-lg:checked {
  --x: 22px;
}

.switch.switch-lg::after {
  @apply left-[2.5px] top-[2.5px] h-[20px] w-[20px];
}

.switch-xl {
  @apply h-8 w-14 rounded-full;
}

.switch.switch-xl:checked {
  --x: 26px;
}

.switch.switch-xl::after {
  @apply left-[2.5px] top-[3px] h-[23px] w-[23px];
}
